body {
    background-color: darkolivegreen;
    
    
    
}

.jumbotron {
    text-align: center;
    background-color: goldenrod;
    color: black;
    border-radius: 10px;    
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
}
/* This is the H1 text in the Jumbotron */
.display-4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

.lead   {
    font-family: 'Times New Roman', Times, serif;
    
}

#Searchbar {
    font-family: 'Times New Roman', Times, serif
}
#buttons-view {
    margin-left: 50px;
    margin-bottom: 15px;
    

}